<html>

<body>

<div>
    <p>Пользователь</p>
    <form method="post">
        <input type="text" name="login" placeholder="Введите логин">
        <input type="text" name="password" placeholder="Введите пароль">
        <input type="text" name="email" placeholder="Введите почту">
        <input type="text" name="first_name" placeholder="Введите имя">
        <input type="text" name="last_name" placeholder="Введите фамилию">
        <button type="submit">Добавить</button>
    </form>
</div>

{{#users}}
    <div>
        <b>{{id}}</b>
        <span>{{login}}</span>
        <span>{{password}}</span>
        <span>{{email}}</span>
        <span>{{first_name}}</span>
        <span>{{last_name}}</span>
    </div>
{{/users}}


</body>
</html>